@import "../base/variables.scss";

.button {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 27px;
  padding-right: 27px;
  font-family: "Mplus1p", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: $font-primary-color;
  background-color: transparent;
  border: 1px solid #b3bac1;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: rgba(18, 41, 71, 0.6);
  }

  &:active {
    color: rgba(18, 41, 71, 0.3);
  }
}
