@import "../base/variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 22px;
  background-color: #f4f1ed;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 64px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 52px;
  }
}

.footer__privacy-wrapper {
  position: relative;
  padding-top: 22px;
}

.footer__privacy-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #d1d1d1;
}

.footer__privacy-inner-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1170px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__nav {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo {
  margin-right: 70px;

  @media (max-width: $tablet-width) {
    margin-right: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.footer__site-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 21px;
  }
}

.footer__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 25px;
  }
}

.footer__link {
  color: inherit;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;

  &:hover {
    color: rgba(18, 41, 71, 0.6);
  }

  &:active {
    color: rgba(18, 41, 71, 0.3);
  }
}

.footer__social {
  margin: 0;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #959595;

  @media (max-width: $mobile-width) {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }
}
