@import "../base/variables.scss";

.header {
  background-color: $background-primary-color;
  color: $font-primary-color;
  background-image: url("../img/background-header.png");
  padding-top: 35px;
  padding-bottom: 70px;
  margin-bottom: 140px;
}

