@import "../base/variables.scss";

.header {
  background-color: $background-primary-color;
  color: $font-primary-color;
  background-image: url("../img/background-header.png");
  padding-top: 35px;
  padding-bottom: 70px;
  margin-bottom: 140px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 120px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 80px;
  }
}

