@import "../base/variables.scss";

.maroon-history {
  margin-bottom: 140px;

  @media (max-width: $tablet-width) {
    margin-bottom: 120px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 80px;
  }
}

.maroon-history__wrapper {
  box-sizing: border-box;
  width: 1366px;
  margin: 0 auto;
  padding: 120px 210px;
  text-align: center;
  background-image: url("../img/maroon-history-background.jpg");

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 100px 58px;
  }

  @media (max-width: $mobile-width) {
    padding: 60px 39px;
  }
}

.maroon-history__slogan {
  margin: 0;
  margin-bottom: 50px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  @media (max-width: $mobile-width) {
    font-size: 22px;
  }
}
