@import "../base/variables.scss";

.promo-spring {
  background-color: #f4f3ef;
  margin-bottom: 134px;
}

.promo-spring__wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  background-image: url("../img/background-spring.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 1366px;
  padding-top: 60px;
  padding-bottom: 66px;
  padding-right: 284px;
  margin: 0 auto;
}

.promo-spring__title {
  margin: 0;
  margin-bottom: 35px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.promo-spring__slogan {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
}
