@import "../base/variables.scss";

.self-care {
  margin-bottom: 140px;
}

.self-care__wrapper {
  display: flex;
  box-sizing: border-box;
  width: 1170px;
  padding-top: 60px;
  padding-left: 100px;
  padding-bottom: 66px;
  background-image: linear-gradient(to right, #f4f1ed 670px, transparent 670px);
  margin: 0 auto;
}

.self-care__text-wrapper {
  width: 370px;
  margin-right: 70px;
}

.self-care__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}

.self-care__recommendation {
  margin-top: 0;

  &--last {
    margin-bottom: 45px;
  }
}
