@import "../base/variables.scss";

.user-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.user-list__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.user-list__link {
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-list__icon {
  fill: #122947;

  @media (max-width: $mobile-width) {
    height: 16px;
  }
}

.user-list__link:hover .user-list__icon {
  fill: rgba(18, 41, 71, 0.6);
}

.user-list__link:active .user-list__icon {
  fill: rgba(18, 41, 71, 0.3);
}
