//font-colors

$font-primary-color: #122947;

//background-colors

$background-primary-color: #f8f8f6;

// Viewports

$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;
$destop-width-only: 1439px;

