//font-colors

$font-primary-color: #122947;

//background-colors

$background-primary-color: #f8f8f6;

// Viewports

$tablet-width: 1365px;
$mobile-width: 767px;
$mobile-width-only: 767px;
$destop-width-only: 1439px;

